* {
  /* border: 2px solid red; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  border: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 5px;
}
.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
.hlink {
  display: flex;
  gap: 20px;
}
.linkhead {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}
.entirepage {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.awesomepart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px;
  background-color: #1F2937;
}
.awesometext {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.aweimage {
  width: 400px;
  margin-left: 10px;
  padding: 30px;
}
.awehead {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  /* ask why extra-bold doesn't work */
}
.awemid {
  color: #E5E7EB;
}
.awebutton {
  align-self: flex-start;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px;
  width: 100px;
}
.randompart {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.randomhead {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding: 20px;
}
.fourboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
}
.boxntext {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.boximg {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.boximgtext {
  width: 150px;
}